[submodule "tonwolke/submodules/JJSObject"]
	path = tonwolke/submodules/JJSObject
	url = git@github.com:jansichermann/JJSObject.git
[submodule "tonwolke/submodules/JS"]
	path = tonwolke/submodules/JS
	url = git@github.com:jansichermann/JS.git
